
/* *******************************************************
                     Global Values
******************************************************* */
* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-family: 'Tangerine', cursive;

}

body,
html {
  background-color: #fff;
  color: black;
  font-size: 1.3em;
  text-rendering: optimizeLegibility;
  overflow-x: initial !important;
}

/* *******************************************************
                     Landing Page
******************************************************* */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/hand-heart.jpg);
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;  
  color: #fff;
}


.header-cntr {
  text-align: center;
  font-size: 1.5em;
}

.header {
  margin-left: auto;
  margin-right: auto;
  padding-top: 23%;
}

.header h1 {
  font-size: 4.8em;
  letter-spacing: 6px;
}

.header h4 {
  margin-top: 1%;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;  
  letter-spacing: 2px;
}

/* *******************************************************
                     Couple Section
******************************************************* */
#couple-section {
  padding: 75px 25px;
  color: #343434;
}

.couple-header h2 {
  text-align: center;
  font-size: 4em;
  margin-bottom: %;
 }
 .cpl-hdr-hr {
  margin: 0% 28% 6%;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
 }

.card-deck {
  width: 75%;
  margin: auto;
  margin-bottom: 3%;
}

.card {
  border: none;
}

 .card-img-top {
  margin:auto;
  width: 80%;
  height: 30vw;
  object-fit: cover;
}

.date {
  margin: auto;
  margin-bottom: 2%;
  font-size: 1.5em;
  font-family: 'Raleway', sans-serif;
}

.how-we-met span {
  text-align: center;
  margin: auto;
  margin-bottom: 3%;
  font-family: 'Raleway', sans-serif;
}

/* *******************************************************
                     Photo divider
******************************************************* */

.container {
  max-width: 1200px;
  margin: auto;
}

.photos {
  /* margin: auto; */
  display: flex;
  background-color: #FFF;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  padding: 0;
  max-width: 1200px;
  margin: 5% auto 5% auto;
}

.photos img {
  padding: 2px;
  display: block;
  float: left;
  flex: auto; 
  background-color: #fff;
}



@media screen and (min-width: 1024px) {
  .photos img {
    width: calc(100%/6);
    height: calc(100%/6);
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .photos img {
    width: calc(100%/4);
    height: calc(100%/4);
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .photos img {
    width: calc(100%/3);
    height: calc(100%/3);
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
  .photos img {
    width: calc(100%/1);
    height: calc(100%/1);
  }
}

@media screen  and (max-width: 320px) {
  .photos img {
    width: 100%;
    height: 100%;
  }
}

/* *******************************************************
                     Countdown Timer
******************************************************* */

.countdown-img {
  background-image: url(images/over-ring.jpg);
  background-attachment: scroll;
  height: 40vh;
  background-size: cover;
  background-position: center center;
}

#countdown-clock span {
  display: inline-block;
  width: 8%;
  height: auto;
  padding: 10px 10px;
  margin: 0 10px;
  font-size: 1.5em;
  font-family: 'Raleway', sans-serif;
  color: whitesmoke;
  text-align: center;
}



