
/* *******************************************************
                     Global Values
******************************************************* */
* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-family: 'Tangerine', cursive;
 
}

body,
html {
  background-color: rgb(252, 250, 250) ;
  color: black;
  font-size: 1.3em;
  text-rendering: optimizeLegibility;
  overflow-x: hidden !important;
}


/* *******************************************************
                     Landing Page
******************************************************* */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/hand-heart.jpg);
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;  
  color: #fff;
}


.header-cntr {
  text-align: center;
  font-size: 1.5em;
}

.header-title {
  margin-left: auto;
  margin-right: auto;
  padding-top: 23%;
}

.header-title h1 {
  font-size: 4.8em;
  letter-spacing: 6px;
}

.header-title h4 {
  margin-top: 1%;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;  
  letter-spacing: 2px;
}

/* *******************************************************
                     Couple Section
******************************************************* */
#couple-section {
  /* padding: 75px 25px; */
  color: #343434;
}

.header h2 {
  margin-top: 5%;
  text-align: center;
  font-size: 4em;
 }
 .cpl-hdr-hr {
  margin: 0% 28% 6%;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
 }

.card-body h3 {
  margin-top: 17px;
}

.card-deck {
  width: 75%;
  margin: auto;
  margin-bottom: 3%;
}

.card {
  border: none;
}

 .card-img-top {
  margin:auto;
  width: 63%;
  height: 24vw;
  object-fit: cover;
  border-radius: 8px;
}

.date {
  margin: auto;
  margin-bottom: 2%;
  font-size: 1.5em;
  font-family: 'Raleway', sans-serif;
}

.how-we-met span {
  text-align: center;
  margin: auto;
  margin-bottom: 5%;
  font-family: 'Raleway', sans-serif;
}

/* *******************************************************
                     Photo divider
******************************************************* */

.container {
  max-width: 1200px;
  margin: auto;
}

.photos {
  margin: auto; 
  display: flex;
  background-color: #FFF;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  padding: 0;
  max-width: 1200px;
  margin: 5% auto 5% auto;
} 

.photos img {
  padding: 2px;
  display: block;
  float: left;
  flex: auto; 
  opacity: .8;
  background-color: #fff;
  transition: transform .3s;
}

.photos :hover {
  opacity: 1;
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  z-index: 2; /* z index brings the image to the front so there is no overlay on the next img */
}


@media screen and (min-width: 1024px) {
  .photos img {
    width: calc(100%/6);
    height: calc(100%/6);
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .photos img {
    width: calc(100%/4);
    height: calc(100%/4);
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .photos img {
    width: calc(100%/3);
    height: calc(100%/3);
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
  .photos img {
    width: calc(100%/1);
    height: calc(100%/1);
  }
}

@media screen  and (max-width: 320px) {
  .photos img {
    width: 100%;
    height: 100%;
  }
}

/* *******************************************************
                     Countdown Timer
******************************************************* */

.countdown-img {
  background-image: url(images/over-ring.jpg);
  background-attachment: scroll;
  height: 40vh;
  background-size: cover;
  background-position: center center;
}

#countdown-clock span {
  display: inline-block;
  width: 8%;
  height: auto;
  padding: 10px 10px;
  margin: 0 10px;
  font-size: 1.5em;
  font-family: 'Raleway', sans-serif;
  color: whitesmoke;
  text-align: center;
}


/* *******************************************************
                     Wedding Events
******************************************************* */
.card{
  background-color: rgb(252, 250, 250) ;
}
.card-img {
  width: 355px;
  height: 245px;
  margin-right: 80px;
}

.big-day {
  margin-left: 23%;
}

.big-day a{
  font-family: 'Raleway', sans-serif;
  font-size: .8em;
}
.text {
  letter-spacing: 1px;
  font-size: .7em;
  font-family: 'Raleway', sans-serif;
}

.church-info {
  letter-spacing: 1px;
  font-size: .7em;
  font-family: 'Raleway', sans-serif;
}

.church-card,
.dibbels-card {
  width: 200%;
}
.card-body {
  margin-top: -33px;
}

.event-name{
  font-size: 3.2em;
  letter-spacing: 1px;
}

.fa-clock,
.fa-map-marker-alt {
  font-size: 12px;
  color: rgb(65, 98, 247);
  padding-right: 6px;
}

/* *******************************************************
                     Groomsman / Bridesmaid's
******************************************************* */
/* .friends{
  margin-top: 5%;
}
.wedding-party img{
  height: 250px;
  
}

.party-card {
  width: 100%;
}

.party-names {
  margin-top: 2%;
  text-align: center;
}

.card-text {
  font-family: 'Raleway', sans-serif;
}
.name {
  font-size: 1em;
}

.role {
  margin-top: -17px;
  font-size: .7em;
} */

.hvrbox,
.hvrbox * {
  box-sizing: border-box;
  margin: auto;

}

.hvrbox {
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: auto;
  border-radius: 10px;
  margin: 2.5%;
}



.hvrbox .hvrbox-layer_bottom {
  display: block;
}

.hvrbox-text {
  text-align: center;
  margin-top: 5%;
}
